root = true

[*]
indent_size = 4
indent_style = space
insert_final_newline = true


[*.{js,json,yml}]
indent_size = 2
indent_style = space

[*.{cs,vb}]
dotnet_diagnostic.IDE0290.severity = none

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped
