@model bool
<div class="d-flex justify-content-start mb-4">
    @if (Model)
    {
        <a class="btn btn-primary rounded-pill px-3 d-flex align-items-center gap-2 fw-bold text-uppercase disabled" aria-disabled="true" tabindex="-1">
            <i class="bi bi-plus-lg" aria-hidden="true"></i>
            Cadastrar
        </a>
    }
    else
    {
        <a class="btn btn-primary rounded-pill px-3 d-flex align-items-center gap-2 fw-bold text-uppercase" asp-action="Cadastrar">
            <i class="bi bi-plus-lg" aria-hidden="true"></i>
            Cadastrar
        </a>
    }
</div>
