@model DisplayFieldViewModel
<div class="d-flex justify-content-between mb-3">
    <h5 class="card-title text-primary fw-bold mb-0">@Model.Label</h5>
    <span class="text-secondary fw-semibold small" style="opacity: 0.5">@Model.Value</span>
</div>
