@{
    ViewBag.Titulo = "Cadastro de Contato";
}

@model ContatoViewModel;

<form class="card border-primary-subtle shadow-sm mx-auto p-4" style="max-width: 620px;" asp-action="Cadastrar" method="post">
    <partial name="_FormContato" model="Model" />
    <partial name="_FormAcoes" />
</form>
